<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div class="py-3">
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Contact</a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col my-4">
                <h1>About Something</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img src="~/image/spacex.jpg" alt="" height="150" class="rounded-circle img-thumbnail">
                <h2>Moose Philips</h2>
                <p>I like stuff!</p>
            </div>
            <div class="col-md-9">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia veritatis sit placeat voluptates earum labore doloribus doloremque assumenda, ratione nisi blanditiis, ullam temporibus voluptatibus. Saepe id rerum perferendis impedit dicta?</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quaerat deserunt minima dolor mollitia fugit, iste a vitae quam iure omnis adipisci sapiente laborum, non reiciendis repellat eligendi aut ullam?
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis maxime, harum asperiores blanditiis impedit accusamus optio, vel at sequi iure, voluptatem nesciunt autem porro tenetur beatae dicta? Libero, quas dolores.
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis maxime, harum asperiores blanditiis impedit accusamus optio, vel at sequi iure, voluptatem nesciunt autem porro tenetur beatae dicta? Libero, quas dolores.
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis maxime, harum asperiores blanditiis impedit accusamus optio, vel at sequi iure, voluptatem nesciunt autem porro tenetur beatae dicta? Libero, quas dolores.
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis maxime, harum asperiores blanditiis impedit accusamus optio, vel at sequi iure, voluptatem nesciunt autem porro tenetur beatae dicta? Libero, quas dolores.
                </p>
            </div>
        </div>

    </div>
</body>
</html>